<h1>Vendors</h1>
<table id = 'vendors'>
	<tr>
		<td><strong>Name</strong></td>
		<td><strong>Booth</strong></td>
		<td><strong>Rent</strong></td>
		<td><strong>Type</strong></td>
		<td><strong>Payment</strong></td>
	</tr>

  <% @vendors.each do |vendor| %>
		<tr>
        <td><%= link_to vendor.name, vendor %></td>
				<td><%= vendor.booth %></td>
				<td><%= number_to_currency(vendor.amount)%></td>
				<td>
				<% if vendor.weekly == true %>
					Weekly
				<% else %>
					Monthly
				<% end %>
				</td>
				<td>
					<% sum = 0 %>
					<% if vendor.weekly == true %>
						<% vendor.payments.each do |pay|%>
							<% if pay.created_at.to_date >= Date.today.beginning_of_week and pay.created_at.to_date < Date.today.end_of_week %>
								<% sum += pay.amount %>
							<% end %>
						<% end %>
					<% else %>
						<% vendor.payments.each do |pay|%>
							<% if pay.created_at.to_date.month >= Date.today.month and pay.created_at.to_date.month < Date.today.month + 1%>
								<% sum += pay.amount %>
							<% end %>
						<% end %>
					<% end %>
					<% if sum >= vendor.amount %>
						PAID
					<% else %>
						UNPAID
					<% end %>
				</td>
			</tr>
  <% end %>
</table>

<%= link_to "New Vendor", new_vendor_path%>

